<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Maid Services For Cooking</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">4.50 (355K bookings)</span>
                        </div>
                         <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                         </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/cooking4.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/cooking2.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/cooking3.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/cooking1.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!-- container2 started -->
     <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">
        
                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/Manservant Supply For Cooking Service.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Manservant For Cooking Service</h5>
                            <p class="card-text">Manservant for Cooking Service provides professional male chefs who specialize in creating exquisite culinary experiences for any occasion. Our skilled chefs bring a touch of elegance and expertise to your kitchen, ensuring every meal is prepared to perfection. Whether for intimate dinners or grand events, our service guarantees a memorable dining experience.</p>
        
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/Maidservant Supply For Cooking Service.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Maidservant For Cooking Service</h5>
                            <p class="card-text">Our Maidservant for Cooking Service provides skilled and reliable cooks to prepare delicious and nutritious meals in the comfort of your home. Whether you need daily meal preparation or special occasion catering, our professional maidservants ensure your dietary preferences and requirements are met with care and expertise. Enjoy the convenience of home-cooked meals without the hassle of cooking.</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="container2-demo">
        
                <app-booknow></app-booknow>
        
            </div>
        
        </div>
     </div>







</div>