.footer {
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgb(237, 235, 235);
    padding: 20px;
    text-align: center;
  }
  ul{
    color: gray;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footerimg{
    padding-left: 0%;
  }
  ul{
    list-style-type: none;
  }
  .social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons li a {
    color: #fff;
    font-size: 24px;
  }
  
  .social-icons li a:hover {
    color: #ccc;
  }
  .social-icons li a i {
    color: #000; /* Black color */
    border-radius: 50%; /* Rounded shape */
    background-color: #ccc; /* Optional background color */
    padding: 10px; /* Optional padding */
  }
  .image-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks between images */
  }
  
  /* Flexbox layout for the images */
  .image-gallery {
    display: flex;
    gap: 10px; /* Adjust the gap between images */
    flex-wrap: nowrap; /* Ensure the images do not wrap to the next line */
  }
  