


<footer class="footer">
  <div class="footer-columns">
    <div class="footer-column">
      <h3>Company</h3>
      <ul>
        
        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/anti-discrimination-policy">Anti-discrimination Policy</a></li>
        <li><a routerLink="/careers">Careers</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>For Customers</h3>
      <ul>
        <li><a routerLink="/categories-near-you">Categories Near You</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>For Partners</h3>
      <ul>
        <li><a routerLink="/register-professional">Register as a Professional</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Social Links</h3>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/yourpage"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/yourpage"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/yourpage"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
