<body>
    <div class="container">
      <h2>Set New Password</h2>
      <form>
        <input type="password" placeholder="New Password" required>
        <input type="password" placeholder="Confirm Password" required>
        <button type="submit" routerLink="/login">Set New Password</button>
      </form>
      <div class="resend-link">
        Haven't got the email yet? <a href="#">Resend email</a>
      </div>
    </div>
  </body>