.carousel-container {
    /* border: 1px solid rgb(213, 24, 24); */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    /* padding-top: 0%; */
   }
   .carousel div:hover img {
    transform: scale(1.1); /* Zoom in image on hover */
    cursor: pointer;
  }

  .hoverable-image {
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
  }

  .carousel-h1{
    /* border: 1px solid rgb(24, 212, 96); */
   font-size: 4rem;
   padding: 1%;
  }
  
  .carousel {
    /* border: 1px solid rgb(24, 212, 96); */
    display: flex;
    transition: transform 0.5s ease;
    height: 250px;
    gap: 2%;
    width: 90%;
    
  }
  
  .slide {
    /* border: 1px solid black; */
    flex: 0 0 25%; /* Show 4 images at a time */
    text-align: center;
  }
  
  .slide img {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    border-radius: 5%;
  }
  
  .slide h2 {
    /* border: 1px solid black; */
    /* padding: 2%; */
    margin-top: 5px;
    height: 15%;
    display: flex;
   font-size: 2.3rem;
   padding: 1%;
  }
  
  .prev-btn, .next-btn {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(223, 217, 217);
    color: rgb(9, 6, 6);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .prev-btn {
    /* border: 1px solid black; */
    font-size: x-large;
    left: 0;
  }
  
  .next-btn {
    /* border: 1px solid black; */
    font-size: x-large;
    right: 0;
  }
  