<div class="carousel-container">
    <h1 class="carousel-h1">New and noteworthy</h1>
    <div class="carousel">
      <div class="slide" *ngFor="let image of images; let i = index">
        <img [style]="{'width': '100%', 'height': '80%'}" [src]="image.url" alt="Image {{ i + 1 }}">
        <h2>{{ image.caption }}</h2>
      </div>
    </div>
    <button (click)="prev()" class="prev-btn">&lt;</button>
    <button (click)="next()" class="next-btn">&gt;</button>
  </div>
  