
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "YOUR_PUBLIC_KEY",
      });
   })();
</script>

<div class="contact-container">
  <h2>Contact Us</h2>
  <form id="contactForm" (submit)="sendEmail($event)" action="#" method="POST">
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" name="fullName" placeholder="Your Full Name" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" placeholder="Your Email Address" required>
    </div>
    <div class="form-group">
      <label for="contact">Contact Number:</label>
      <input type="text" id="contact" name="contact" placeholder="Your Contact Number" required>
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" placeholder="Your Subject" required>
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" name="message" placeholder="Your Message" rows="5" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
