.about-container {
    text-align: center;
    padding: 40px 20px;
  }
  
  .about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-container section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .about-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }



  .team-section {
    margin-top: 40px;
  }
  
  .team-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card {
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: left;
  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }




  .team-section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 20px; /* Gap between cards */
  }
  
  .team-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: left;
  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }



  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners for the card */
    padding: 16px;
    text-align: center;
    width: 200px; /* Adjust card width as per your design */
  }
  
  .card-image {
    max-width: 50%;
    height: auto;
    max-height: 100px; /* Limit the maximum height of the image */
    border-radius: 50%; /* Optional: Makes the image circular */
  }
  
  
  
  