

   <div class="about-container">
    <h1>About Us</h1>
    
    <section>
      <h2>Who We Are</h2>
      <p>HomeFlex is a technology platform offering a variety of services at home. Customers use our platform to book services such as beauty treatments, haircuts, massage therapy, cleaning, plumbing, carpentry, appliance repair, painting etc. These services are delivered in the comfort of their home and at a time of their choosing. We promise our customers a high quality, standardized, and reliable service experience. To fulfill this promise, we work closely with our hand-picked service partners, enabling them with technology, training, products, tools, financing, insurance, and brand, helping them succeed and deliver on this promise.</p>
      <p>Our Vision: "To redefine convenience and reliability in home services by empowering users to effortlessly connect with trusted professionals, ensuring every home experience is seamless and satisfying."</p>
    </section>
  
    <section>
      <h2>How We Do It</h2>
      <p>HomeFlex provides a platform that enables skilled and experienced professionals to connect directly with users seeking specific services. Once onboard, our sophisticated matchmaking algorithm matches users with professionals who best meet their needs, ensuring proximity, availability, and service excellence.</p>
    </section>
  
    <section class="team-section">
      <h2>Our Leadership Team</h2><br>
  
      <div class="card">
        <img src="images/maha.jpeg" alt="Leader 1" class="card-image">
        <div class="card-content">
          <h3>Leader 1</h3>
          <p>Description of Leader 1.</p>
        </div>
      </div>
  
      <div class="card">
        <img src="images/priyankaedited.jpeg" alt="Leader 2" class="card-image">
        <div class="card-content">
          <h3>Leader 2</h3>
          <p>Description of Leader 2.</p>
        </div>
      </div>
  
      <div class="card">
        <img src="images/sruthiedited.jpeg" alt="Leader 3" class="card-image">
        <div class="card-content">
          <h3>Leader 3</h3>
          <p>Description of Leader 3.</p>
        </div>
      </div>
  
     
    </section>

  </div>
  




