<!-- star-rating.component.html -->
<div class="star-rating">
    <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)">
      <i class="fa" [ngClass]="star ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i>
    </span>
  </div>
  