/* star-rating.component.css */
.star-rating {
    display: inline-block;
  }
  
  .fa {
    font-size: 24px;
    color: gold;
    cursor: pointer;
  }
  
  .fa-star-o {
    color: lightgray;
  }
  
  .fa-star {
    color: gold;
  }
  