body {
  /* border: 1px solid black; */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.profile {
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-form label {
  text-align: left;
  font-size: 14px;
}

.booking-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

