<body>
    <div class="container">
        <div class="profile">
            <img src="images/profilepic.jpg" alt="Profile Picture" class="profile-pic">
            <p>Use ChatWith.HomeFlex's Widget for making bookings</p>
        </div>
        <h2>Supporter for Bookings</h2>
        <h3>ChatWith.HomeFlex</h3>
        <form class="booking-form" (ngSubmit)="sendMessage()">
            <label for="name">Hi! Please tell me your name</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required>
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" [(ngModel)]="phone" required>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" [(ngModel)]="date" required>
            <label for="time">Time</label>
            <input type="time" id="time" name="time" [(ngModel)]="time" required>
            <button type="submit">Book Now!</button>
        </form>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
</body>


