<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="images/homeflex.jpg.png" alt="HomeFlex Logo" class="navbar-logo">
      <h1>HomeFlex</h1>
    </div>
    
    <div class="navbar-links">
      <a class="navbar-link" routerLink="/home" routerLinkActive="active" >Home</a>
      <a class="navbar-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
      <a class="navbar-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </div>
    <!-- <button class="navbar-login-button">Logout</button> -->
    <button class="navbar-login-button" routerLink="/profile">My Profile</button>
  </div>
</nav>


 
  