.navbar {
  background-color: #f8f9fa;
   /* border: 1px solid rgb(200, 31, 31); */
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-container {
  /* border: 1px solid rgb(200, 31, 31); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-inputs {
  display: flex;
  gap: 10px;
}

.navbar-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar-login-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: white;
  color: rgb(95, 89, 89);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-login-button:hover {
  background-color: #7e868f;
  color: white;
}

.navbar-links{
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-inputs {
  display: flex;
  gap: 10px;
}

.input-with-icon {
  position: relative;
}

.navbar-input {
  padding: 8px 30px 8px 10px; /* Adjust padding to accommodate icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-with-icon i {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust right distance for icon */
  transform: translateY(-50%);
  color: #666;
}


