<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Painting & water proofing</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">3.50 (205K bookings)</span>
                        </div>
                         <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                         </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/painting1.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/painting2.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/painting3.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/painting4.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!-- container2 started -->
     <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">
        
                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/FullHomePainting.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Full Home Painting (4 rooms & above)</h5>
                            <p class="card-text">
                                Transform your home with our comprehensive Full Home Painting service, designed for residences with four or more rooms. Our skilled professionals use high-quality paints and advanced techniques to deliver a flawless finish, ensuring vibrant and long-lasting results. Enjoy a hassle-free experience with meticulous preparation, efficient execution, and thorough clean-up.</p>
        
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/FullHomePainting1.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Partial Home Painting (1/2/3 rooms only)</h5>
                            <p class="card-text">Our Partial Home Painting service is designed for those who need to refresh 1, 2, or 3 rooms in their home. Our professional painters use high-quality materials and meticulous techniques to ensure a flawless finish, transforming your space with minimal disruption. Whether it's a single room or a few, we provide efficient and reliable service tailored to your needs.</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="container2-demo">
        
                <app-booknow></app-booknow>
        
            </div>
        
        </div>
     </div>







</div>