.main-container-for-subcomponent{
    /* border: 1px solid rgb(24, 246, 135); */
    display: flex;
    flex-direction: column;
    height: 3000px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .container-1{
    /* border: 1px solid rgb(44, 6, 3); */
    display: flex;
    flex-direction: row;
    height: 20%;
   padding: 2%;
  }
  .container-2{
     /* border: 1px solid rgb(44, 6, 3); */
     display: flex;
     flex-direction: row;
     height: 90%;
    padding: 2%;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    /* border: 1px solid rgb(50, 246, 24); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card1 {
    /* border: 1px solid rgb(224, 71, 71); */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50%;
    
  }
  
  .card1 h2 {
    font-size: 1.5em;
    /* border: 1px solid rgb(224, 71, 71); */
    padding: 3%;
    padding-right:20%;
    margin-bottom: 10px;
  }
  
  .card1 h1 {
    /* border: 1px solid rgb(224, 71, 71); */
    font-size: 2.8em;
    margin-bottom: 20px;
    font-weight: 550;
  }
  
  .card1 .rating {
    /* border: 1px solid rgb(224, 71, 71); */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card1 .rating .star {
    /* border: 1px solid rgba(116, 113, 113, 0); */
    border-radius: 45%;
    background-color: #438d2db4;
    color: white;
    font-size: 1.5em;
  }
  
  .card1 .rating .text {
    margin-left: 10px;
    font-size: 1.3em;
  }
  
  .card1 ul {
    list-style: none;
    padding: 0;
    font-size: 1.4em;
  }
  
  .card1 li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  .card1 li .check {
    margin-right: 10px;
  }
  
  .card1 .quality {
    background-color: #438d2db4;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .card1 .quality .check {
    font-size: 1.5em;
    margin-right: 5px;
  }
  
  #carouselExampleControls{
    /* border: 1px solid rgb(246, 172, 24); */
    height: 60%;
    width: 75%; 
    padding-left: 6%;
  }
  .carousel-inner{
    /* border: 1px solid rgb(222, 41, 41); */
    width: 90%;
    /* padding-left: 0%;
    padding-right: 0%; */
   
  }
  .card2{
    /* border: 1px solid rgb(125, 97, 228); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    height: 100%;
    width: 100%;
  }
  .card-img-top1{
    /* border: 1px solid rgb(60, 30, 170); */
    border-radius: 2%;
    height: 100%;
    width: 100%;
  
  }
  .subcontainer-1{
    /* border: 1px solid rgb(60, 30, 170); */
    width: 25%;
    
  }
    /* container 2 started */
  
    .main-container-demo{
      font-family: Arial, sans-serif;
      /* border: 1px solid black; */
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 2%;
  }
  
  .container1-demo{
      /* border: 1px solid rgb(216, 28, 28); */
      display: flex;
      justify-content: center;
      width: 70%;
  }
  
  .main-cards{
      /* border: 1px solid rgb(17, 240, 46); */
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
      gap: 2%;
    
  }
  .card3{
      /* border: 1px solid rgb(33, 153, 17); */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 10%;
      display: flex;
      flex-direction: row;
      padding: 1%;
      gap: 2%;
  }
  .card-img-top{
      /* border: 1px solid rgb(225, 17, 240); */
      height: 100;
      padding: 2%;
      border-radius: 8%;
  }
  .card-img{
      /* border: 1px solid black; */
      width: 40%;
      border-radius: 5%;
  }
  .card-body{
      /* border: 1px solid black; */
      width: 100%;
  }
  
  .card3 h5{
       /* border: 1px solid black; */
       height: 40%;
       font-size: 2.4rem;
       font-weight: bold;
       display: flex;
       align-items: center;
  }
  
  .card3-text{
      /* border: 1px solid rgb(17, 240, 46); */
      width: 100%;
      color: rgba(86, 83, 83, 0.696);
  }
  
  .container2-demo{
      /* border: 1px solid rgb(17, 240, 46); */
      height: 100%;
      width: 30%;
      padding: 3%;
      padding-top: 0%;
  }