<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>AC & Appliance repair</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">4.00 (346K bookings)</span>
                        </div>
                        <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                        </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/repair1.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/repair2.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/repair3.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/repair4.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- container2 started -->
    <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">

                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/ACRepair&Service.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">AC Repair & Service</h5>
                            <p class="card-text">AC Repair & Service: We provide expert AC repair and maintenance services to ensure your system runs smoothly and efficiently. Our skilled technicians offer prompt, reliable service to keep you cool and comfortable year-round.</p>

                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/ChimneyRepair.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Chimney Repair</h5>
                                <p class="card-text">Ensure your home stays safe and warm with our expert chimney repair services. Our skilled technicians provide comprehensive inspections, repairs, and maintenance to keep your chimney in top condition.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/GasStoveRepair&Service.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Gas Stove Repair & Service </h5>
                            <p class="card-text">Ensure your kitchen runs smoothly with our expert gas stove repair and service. Our skilled technicians provide prompt, reliable repairs and maintenance to keep your stove in top condition for safe and efficient cooking.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/LaptopRepair&Service.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Laptop Repair & Service</h5>
                            <p class="card-text">Our expert technicians provide comprehensive laptop repair and maintenance services, ensuring your device runs smoothly and efficiently. From hardware fixes to software troubleshooting, we offer reliable solutions tailored to your needs.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/MicrowaveRepair.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Microwave Repair</h5>
                            <p class="card-text">Expert microwave repair services to ensure your appliance functions like new. Our skilled technicians provide fast, reliable fixes for all makes and models, restoring convenience to your kitchen.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/Mixer&GrinderRepair.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Mixer & Grinder Repair</h5>
                            <p class="card-text">Expert Mixer & Grinder Repair Services to Restore Your Kitchen Appliances to Peak Performance. Our skilled technicians handle all issues, ensuring efficient and reliable repairs for a seamless cooking experience.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/WashingMachineRepair.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Washing Machine Repair</h5>
                            <p class="card-text">Get your washing machine running smoothly again with our expert repair services! Our skilled technicians quickly diagnose and fix issues, ensuring your appliance performs like new. Reliable service and quality repairs you can trust.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/TelevisionRepair.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Television Repair</h5>
                            <p class="card-text">Expert television repair services for all brands and models. Our skilled technicians diagnose and fix issues quickly, ensuring your TV is back to delivering the best viewing experience. We offer reliable repairs with a focus on quality and customer satisfaction.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/RefrigeraterRepair.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Refrigerater Repair</h5>
                            <p class="card-text">We specialize in comprehensive refrigerator repair services, addressing issues from cooling problems to leaks. Our skilled team delivers fast, reliable repairs to restore your refrigerator’s performance and extend its lifespan.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container2-demo">

                <app-booknow></app-booknow>

            </div>

        </div>
    </div>







</div>