<div class="main-container-for-subcomponent">
  <div class="container-1">
      <!-- container 1 subcontainer1 started -->
      <div class="subcontainer-1">

          <body>

              <div class="container">
                  <div class="card1">
                      <h1>Tattoo</h1>
                      <div class="rating">
                          <span class="star">★</span>
                          <span class="text">4.00 (300K bookings)</span>
                      </div>
                       <div class="card1">
                          <ul>
                              <h2>UC Promise</h2>
                              <li>
                                  <span class="check">✔</span>
                                  <span>Verified Professionals</span>
                              </li>
                              <li>
                                  <span class="check">✔</span>
                                  <span>Hassle Free Booking</span>
                              </li>
                              <li>
                                  <span class="check">✔</span>
                                  <span>Transparent Pricing</span>
                              </li>
                          </ul>
                          <div class="quality">
                              <span class="check">✔</span>
                              <span>QUALITY<br>ASSURED</span>
                          </div>
                       </div>
                  </div>
              </div>

          </body>
      </div>

      <!-- container 1 subcontainer2 started -->
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="card-wrapper container-lg d-flex  justify-content-around">
                      <div class="card2">
                          <img [style]="{'width': '100%', 'height': '100%'}" src="images/removal.jpg" class="card-img-top1" alt="...">
                      </div>
                  </div>
              </div>

              <div class="carousel-item">
                  <div class="card-wrapper container-sm d-flex   justify-content-around">
                      <div class="card2">
                          <img [style]="{'width': '100%', 'height': '100%'}" src="images/tatoo4.png" class="card-img-top1" alt="...">
                      </div>
                  </div>
              </div>

              <div class="carousel-item">
                  <div class="card-wrapper container-sm d-flex  justify-content-around">
                      <div class="card2">
                          <img [style]="{'width': '100%', 'height': '100%'}" src="images/tatoo3.jpg" class="card-img-top1" alt="...">
                      </div>
                  </div>
              </div>

              <div class="carousel-item">
                  <div class="card-wrapper container-sm d-flex  justify-content-around">
                      <div class="card2 ">
                          <img [style]="{'width': '100%', 'height': '100%'}" src="images/tatoo2.jpg" class="card-img-top1" alt="...">
                      </div>
                  </div>
              </div>


              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>

   <!-- container2 started -->
   <div class="container-2">
      <div class="main-container-demo">
          <div class="container1-demo">
      
              <div class="main-cards">
                  <div class="card3">
                      <div class="card-img">
                          <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                              src="images/tattoo-designer.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Tattoo</h5>
                          <p class="card-text">Experience top-notch tattoo artistry with our talented team, committed to delivering custom designs that reflect your personal style. We provide a clean, friendly atmosphere where you can confidently transform your ideas into stunning body art.</p>
      
                      </div>
                  </div>
      
                  <div class="card3">
                      <div class="card-img">
                          <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                              src="images/tattooservice1.jpg" alt="Card image cap">
      
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Tattoo Removal </h5>
                          <p class="card-text">Our professional tattoo removal service uses state-of-the-art technology to safely and effectively remove unwanted tattoos, ensuring minimal discomfort and optimal results. Trust our experienced team to help you achieve clear, fresh skin.</p>
                      </div>
                  </div>
      
                  <div  class="card3">
                      <div class="card-img">
                          <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                              src="images/tattooservice2.jpg" alt="Card image cap">
      
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Piercing</h5>
                          <p class="card-text">Experience professional and safe piercing services with our skilled technicians. We offer a range of body piercings using high-quality jewelry and adhere to strict hygiene standards for a comfortable and satisfying experience.</p>
                      </div>
                  </div>
      
                  <div class="card3">
                      <div class="card-img">
                          <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                              src="images/tattooservice3.jpg" alt="Card image cap">
      
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Temporary Tattoos </h5>
                          <p class="card-text">Add a touch of creativity to your event or personal style with our Temporary Tattoos Service. We offer a wide range of designs and customization options for a fun, non-permanent way to express yourself!</p>
                      </div>
                  </div>
      
                  <div class="card3">
                      <div class="card-img">
                          <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                              src="images/tattooservice4.jpg" alt="Card image cap">
      
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Tattoo Aftercare Products</h5>
                          <p class="card-text">Our tattoo aftercare products are specially formulated to promote healing and maintain the vibrancy of your new ink. Featuring high-quality, nourishing ingredients, these products help soothe your skin, reduce irritation, and keep your tattoo looking fresh and vibrant.</p>
                      </div>
                  </div>
      
              </div>
      
          </div>
      
          <div class="container2-demo">
      
           <app-booknow></app-booknow>
      
          </div>
      
      </div>
   </div>







</div>