

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-wrapper container-lg d-flex  justify-content-around">
                <div class="card" style="width: 42rem;">
                    <img src="images/container2image3.webp" class="card-img-top" alt="...">
                </div>

                <div class="card" style="width: 42rem;">
                    <img src="images/container2image2.webp" class="card-img-top" alt="...">
                </div>

                <div class="card" style="width: 42rem;">
                    <img src="images/container2image1.webp" class="card-img-top" alt="...">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card-wrapper container-sm d-flex   justify-content-around">
                <div class="card  " style="width: 42rem;">
                    <img src="images/container2image4.webp" class="card-img-top" alt="...">
                </div>

                <div class="card" style="width: 42rem;">
                    <img src="images/container2image5.webp" class="card-img-top" alt="...">
                </div>

                <div class="card" style="width: 42rem;">
                    <img src="images/container2image6.webp" class="card-img-top" alt="...">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card " style="width: 42rem;">
                    <img src="images/container2image7.webp" class="card-img-top" alt="...">
                </div>

                <div class="card " style="width: 42rem;">
                    <img src="images/container2image8.webp" class="card-img-top" alt="...">
                </div>

            </div>
        </div>


        <span class="carousel-control-prev" type="buttons" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </span>
        
        <span class="carousel-control-next" type="buttons" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </span>
    </div>
</div>