/* container2 started */

#carouselExampleControls{
    /* border: 1px solid rgb(153, 225, 9); */
    padding: 4% ;
    padding-left: 0%;
    padding-right: 0%;
   
    
  }
  .card-wrapper div:hover img {
    transform: scale(1.05); /* Zoom in image on hover */
    cursor: pointer;
  }
  .carousel-inner{
    /* border: 1px solid black; */
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
    gap: 20%;
  }
  .card{
    /* border: 1px solid black; */
    border-radius: 4%;
  }
 