<div class="login-container">
  <div class="login-form">
    <p>Welcome back! Please enter your details</p>
    <div class="tab-container">
      <button class="tab active">Sign in</button>
      <button class="tab" routerLink="/register">Sign up</button>
    </div>
    <form [formGroup]="aFormGroup" (ngSubmit)="loginSubmit(aFormGroup.value)" novalidate>
      <div class="form-group">
        <input formControlName="emailId" type="text" class="form-control" placeholder="Email" id="emailId" name="emailId" [(ngModel)]="user.emailId" required>
        <div *ngIf="aFormGroup.controls['emailId'].invalid && aFormGroup.controls['emailId'].touched">
          Please enter a valid email
        </div>
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password"  name="password"
        [(ngModel)]="user.password" required>
        <div *ngIf="aFormGroup.controls['password'].invalid && aFormGroup.controls['password'].touched">
          Please enter a password
        </div>
      </div>
      <a routerLink="/forget-password" routerLinkActive="active" class="forgot-password">Forgot password</a>
      <ngx-recaptcha2 #captchaElem [siteKey]="sitekey" (reset)="handleReset()" (expire)="handleExpire()"
        (load)="handleLoad()" (success)="handleSuccess($event)" [useGlobalDomain]="false" formControlName="recaptcha">
      </ngx-recaptcha2>
      <button [disabled]="aFormGroup.invalid" class="signin-btn" type="submit">Sign in</button>
    </form>

      <div id="google-btn">
        
      </div>
    
  </div>
</div>
