body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  /* background-image: url('/assets/background.jpg'); 
  background-size: cover;
  background-position: center; */
}

.login-form {
  background: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-top: 0;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
}

.tab.active {
  background: #e0e0e0;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.check-icon {
  background: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 0 4px 4px 0;
}

.signin-btn {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

.social-buttons {
  /* border: 1px solid black; */
  display: flex;
  padding-left: 35%;
  gap: 40%;
  margin: 20px 0;
}

.social-btn {
  width: 40px;
  height: 40px;
  background: #e0e0e0;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon
{
  margin-left: 80px;
}
.icon1
{
  margin-left: 10px;
  color: white;
} 
.social-button:hover {
  background-color: #eee;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}