body {
    /* border:1px solid #a08f45; */
font-family: Arial, Helvetica, sans-serif;
background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

.container {
  /* border:1px solid #45a049; */
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 450px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.code-input {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.code-input input {

    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

button {
    background: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resend-link {
    margin-top: 10px;
    font-size: 14px;
    color: #4CAF50;
}

.resend-link a {
    color: #4CAF50;
    text-decoration: none;
}

.resend-link a:hover {
    text-decoration: underline;
}