<body>
    <div class="container">
            <h2>Check your email</h2>
            <p>We sent a reset link to email</p>
            <p>Enter the 4-digit code that was mentioned in the email:</p>
            <div class="code-input">
                <input type="text" readonly>
                <input type="text" readonly>
                <input type="text" readonly>
                <input type="text" readonly>
            </div>
            <button routerLink="/set-new-password">Verify Code</button>
            <p>Haven't got the email yet? <a href="#" class="resend-link">Resend email</a></p>
        </div>
    </body>