<div class="about-us">
    <h1>About Us</h1>
    <p>Welcome to our company! We are dedicated to providing the best services to our customers.</p>
    <p>Our mission is to ...</p>
    <!-- Add more content as needed -->
  </div>
  