<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Fashion Designing</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">4.80 (346K bookings)</span>
                        </div>
                        <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                        </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/fashion4.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/fashion3.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/fashion2.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/fashion5.jpg"
                                class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- container2 started -->
    <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">

                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/men-fashiondesigner.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Men Fashion Designer Service</h5>
                            <p class="card-text">Our Men’s Fashion Designer Service provides expert styling and
                                personalized
                                wardrobe solutions to elevate your look. Our experienced team is dedicated to crafting
                                sophisticated, tailored outfits that reflect your unique taste. With exceptional
                                attention to
                                detail, we ensure you look your best for every occasion.</p>

                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/women-fashiondesigner.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Women Fashion Designer Service</h5>
                            <p class="card-text">Our Women's Fashion Designer Service offers expert styling and
                                personalized
                                wardrobe solutions to enhance your look. Our talented team is dedicated to creating
                                elegant,
                                tailored outfits that showcase your unique style. With a commitment to excellence, we
                                ensure you
                                feel confident and stylish for every occasion.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/fashion-advisor.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Fashion Advisor Service</h5>
                            <p class="card-text">Our Fashion Advisor Service offers expert guidance to help you refine
                                your
                                personal style. Our knowledgeable team provides personalized advice tailored to your
                                preferences, ensuring you always look your best. Trust us to elevate your wardrobe with
                                our
                                exceptional service and keen eye for fashion.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/hand-embroidery.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hand Embroidery Service</h5>
                            <p class="card-text">Our Hand Embroidery Service offers exquisite craftsmanship to enhance
                                your garments with intricate designs. Our skilled artisans are dedicated to providing
                                high-quality, personalized embroidery that adds a unique and elegant touch. Trust our
                                expert team to deliver beautiful, detailed work tailored to your specific needs.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/machine-embroidery.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Machine Embroidery Service</h5>
                            <p class="card-text">Our Machine Embroidery Service combines advanced technology with
                                skilled craftsmanship to create intricate, high-quality designs. Our experienced staff
                                ensures precise and beautiful embroidery for all your needs, from custom apparel to
                                unique home decor. Trust us to deliver exceptional results with every project.</p>
                        </div>
                    </div>

                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/color-analysis.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Color Analysis Service</h5>
                            <p class="card-text">Our Color Analysis Service features skilled professionals who help you
                                discover the colors that enhance your natural beauty. Our experienced team provides
                                personalized consultations, ensuring you make confident, flattering choices. Trust us to
                                elevate your style with expert color guidance and exceptional service.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container2-demo">

                <app-booknow></app-booknow>

            </div>

        </div>
    </div>







</div>