<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Native Water Purifier</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">3.50 (200K bookings)</span>
                        </div>
                         <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                         </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/NativeWaterPurifier.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/NativeWaterPurifier1.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/NativeWaterPurifier2.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/NativeWaterPurifier3.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!-- container2 started -->
     <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">
        
                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/CleaningthePurifier.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cleaning the Purifier</h5>
                            <p class="card-text">
                                Ensure your purifier operates at peak performance with our comprehensive cleaning service. Our expert technicians will meticulously clean and maintain your purifier, enhancing its efficiency and extending its lifespan.</p>
        
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/InstallationofPurifier.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Installation of Purifier</h5>
                            <p class="card-text">Ensure your home has clean, pure air with our professional purifier installation service. Our expert technicians will install your purifier efficiently and provide a thorough explanation of its features, ensuring optimal performance and peace of mind.</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="container2-demo">
        
                <app-booknow></app-booknow>
        
            </div>
        
        </div>
     </div>







</div>