<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Women's salon & spa</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">4.80 (455K bookings)</span>
                        </div>
                         <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                         </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonforwomen1.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonforwomen2.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonforwomen3.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonforwomen4.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!-- container2 started -->
     <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">
        
                <div class="main-cards">

        
                    <div  class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/SalonForWomen.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Salon For Women</h5>
                            <p class="card-text">Salon For Women offers top-tier beauty and wellness services tailored exclusively for women, ensuring a luxurious and relaxing experience. Our skilled professionals provide a range of treatments, from hair and skincare to spa services, all designed to enhance your natural beauty and well-being.</p>
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/SpaForWomen.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Spa For Women</h5>
                            <p class="card-text">Indulge in luxury at Spa For Women, where we offer tailored wellness and beauty treatments designed to rejuvenate your mind, body, and soul. Our serene environment and expert therapists ensure a personalized and unforgettable spa experience.</p>
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/HairStudioForWomen.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hair Studio For Women</h5>
                            <p class="card-text">Hair Studio for Women offers luxurious hair care and styling services tailored to enhance your natural beauty. Our expert team provides personalized consultations and top-notch treatments to ensure you leave feeling pampered and radiant.</p>
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top" src="images/Makeup&StylingStudio.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Makeup & Styling Studio</h5>
                            <p class="card-text">At our Makeup & Styling Studio, we offer expert beauty and fashion services tailored to enhance your unique look for any occasion. From flawless makeup applications to personalized styling consultations, our team is dedicated to helping you feel confident and radiant.</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="container2-demo">
        
                <app-booknow></app-booknow>
        
            </div>
        
        </div>
     </div>







</div>