<div class="container">
    <div class="card">
        <div class="photo-wrapper">
            <img [src]="userProfileImg" alt="John Doe">
        </div>
        <div class="card-content">
            <h3 class="name">{{name}}</h3>
            <table class="info">
                <tbody>
                   <div class="table">
                        <div class="label">Email : </div>
                        <div class="value">{{email}}</div>
                   </div>
                </tbody>
            </table>

            <div class="sign-out">
                <a (click)="singOut()">Sign Out</a>
            </div>

        </div>
    </div>
</div>