.container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.card {
    /* border: 1px solid black; */
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}


.photo-wrapper img {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.card-content {
    /* border: 1px solid rgb(186, 50, 50); */
    padding: 20px;
}

.name {
    /* border: 1px solid rgb(201, 29, 29); */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 3%;
    width: 100%;
}

.table {
    /* border: 1px solid rgb(61, 193, 51); */
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    
}

.label {
    /* border: 1px solid black; */
    font-weight: bold;
    color: #666;
    font-size: medium;
    width: 100%;

}

.value{
    /* border: 1px solid black; */
    width: 100%;
    
}

.sign-out {
    text-align: center;
    margin-top: 20px;
}

.sign-out a {
    font-size: 14px;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.sign-out a:hover {
    text-decoration: underline;
    color: #23527c;
}