<div class="main-container-for-subcomponent">
    <div class="container-1">
        <!-- container 1 subcontainer1 started -->
        <div class="subcontainer-1">

            <body>

                <div class="container">
                    <div class="card1">
                        <h1>Men's saloon & massage</h1>
                        <div class="rating">
                            <span class="star">★</span>
                            <span class="text">4.00 (305K bookings)</span>
                        </div>
                         <div class="card1">
                            <ul>
                                <h2>UC Promise</h2>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Verified Professionals</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Hassle Free Booking</span>
                                </li>
                                <li>
                                    <span class="check">✔</span>
                                    <span>Transparent Pricing</span>
                                </li>
                            </ul>
                            <div class="quality">
                                <span class="check">✔</span>
                                <span>QUALITY<br>ASSURED</span>
                            </div>
                         </div>
                    </div>
                </div>

            </body>
        </div>

        <!-- container 1 subcontainer2 started -->
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-lg d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonformen.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonformen2.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonformen3.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card2 ">
                            <img [style]="{'width': '100%', 'height': '100%'}" src="images/salonformen4.jpg" class="card-img-top1" alt="...">
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!-- container2 started -->
     <div class="container-2">
        <div class="main-container-demo">
            <div class="container1-demo">
        
                <div class="main-cards">
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/SalonForKids&Men.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Salon For Kids & Men</h5>
                            <p class="card-text">Our "Salon For Kids & Men" service offers tailored grooming and styling experiences for boys and men, ensuring a comfortable and enjoyable visit. Our professional stylists are skilled in a variety of modern and classic haircuts, delivering top-notch results in a family-friendly environment. We prioritize safety, hygiene, and customer satisfaction to create a positive and memorable salon experience for all ages.</p>
        
                        </div>
                    </div>
        
                    <div class="card3">
                        <div class="card-img">
                            <img [style]="{'width': '100%', 'height': '100%'}" class="card-img-top"
                                src="images/MassageForMen.jpg" alt="Card image cap">
        
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Massage For Men</h5>
                            <p class="card-text">Experience ultimate relaxation with our Massage for Men service, designed to relieve stress and rejuvenate your body. Our expert therapists provide personalized treatments tailored to your specific needs, ensuring a revitalizing and therapeutic session.</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="container2-demo">
        
                <app-booknow></app-booknow>
        
            </div>
        
        </div>
     </div>







</div>