<!-- reviews.component.html -->
<div class="reviews-container">
    <h2>Ratings and Reviews</h2>
  
    <!-- Review Form -->
    <form (ngSubmit)="addReview()" class="review-form">
      <div class="form-group">
        <label for="rating">Rating:</label>
        <app-star-rating [(rating)]="newReview.rating"></app-star-rating>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea id="comment" [(ngModel)]="newReview.comment" name="comment" required></textarea>
      </div>
      <button type="submit">Submit Review</button>
    </form>
  
    <!-- Reviews List -->
    <div class="reviews-list">
      <div class="review-card" *ngFor="let review of reviews">
        <app-star-rating [rating]="review.rating" [readonly]="true"></app-star-rating>
        <p class="review-comment">{{ review.comment }}</p>
      </div>
    </div>
  </div>
  