/* You can add global styles to this file, and also import other style files */
/* General navbar link styles */
@import 'ngx-toastr/toastr';

.navbar-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    position: relative;
  }
  
  /* Styles for the active link */
  .navbar-link.active {
    color: black;
    font-weight: bold;
  }
  
  .navbar-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px; /* Adjust as necessary to position the underline */
    left: 0;
  }
  
  /* Optional: Add hover effect for the links */
  .navbar-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px; /* Adjust as necessary to position the underline */
    left: 0;
  }
  