<div class="main-container">
    <div class="container">
        <div class="text-section">
            <div>
                <div>
                    <h1>Home services at your doorstep</h1>
                </div><br>

                <div class="gridcontainer">
                    <!-- Home services at your doorstep -->
                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/salonforwomen" [style]="{'width': '100%', 'height': '100%'}" src="images/salon.webp">
                        </div>
                        <div class="added-items-matter"> Women's salon & spa</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/salonformen" [style]="{'width': '100%', 'height': '100%'}" src="images/menspa.webp">
                        </div>
                        <div class="added-items-matter">Men's saloon & massage</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/ac" [style]="{'width': '100%', 'height': '100%'}" src="images/Ac.webp">
                        </div>
                        <div class="added-items-matter">AC & Appliance repair</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/nativewaterpurify" [style]="{'width': '100%', 'height': '100%'}" src="images/waterpurify.webp">
                        </div>
                        <div class="added-items-matter">Native water purify</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/painting" [style]="{'width': '100%', 'height': '100%'}" src="images/paint.webp">
                        </div>
                        <div class="added-items-matter">Painting & water proofing</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/fashion-advising" [style]="{'width': '100%', 'height': '100%'}" src="images/fashiondesigner.jpg">
                        </div>
                        <div class="added-items-matter">Personal Fashion designer</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/daycare" [style]="{'width': '100%', 'height': '100%'}" src="images/daycareimg.jpg">
                        </div>
                        <div class="added-items-matter">Daycare for childern & elder's</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/skincraft" [style]="{'width': '100%', 'height': '100%'}" src="images/tattoo.jpg">
                        </div>
                        <div class="added-items-matter">SkinCraft Tattoo & Removal</div>
                    </div>

                    <div class="added-items-div">
                        <div class="added-items-images-setting">
                            <img routerLink="/maidsupply" [style]="{'width': '100%', 'height': '100%'}" src="images/Maid supply.jpg">
                        </div>
                        <div class="added-items-matter">Maid for Cooking</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="image-section">
            <img src="images/homeflexedited.jpg" alt="Home Services Image" class="full-height-image">
        </div>
    </div>
      <!-- container 2 start -->
      <app-cardcarousel></app-cardcarousel>

     <!-- container 3 started -->
     <app-cardcarouselcontainer2></app-cardcarouselcontainer2>
      
      <!-- container 4 started -->
       <div class="container1-home-images">
        <img [style]="{'width': '100%', 'height': '100%'}" src="images/laserhome.webp" alt="Home Services Image"
            class="container1-home-images-div" />
        </div>
         <!-- container 5 started -->

        <!-- <div class="container1-home-images">
        <img [style]="{'width': '100%', 'height': '100%'}" src="images/massagemenhome.webp" alt="Home Services Image"
            class="" />
    
        </div>

   
        <div class="container1-home-images">
        <img [style]="{'width': '100%', 'height': '100%'}" src="images/navtivhome.webp" alt="Home Services Image"
            class="" />
    
        </div> -->

    



</div>
