.main-container{
  /* border: 1px solid rgb(163, 24, 24); */
  display: flex;
  height: 600vh;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  /* border: 1px solid rgb(200, 31, 31); */
   display: flex;
    height: 19%;
    padding: 2.5%;
    gap: 5%;
    width: 100%;
   
  }
  
  .text-section {
    /* border: 1px solid rgb(52, 18, 204); */
    /* display: flex; */
    padding: 1%;
    /* background-color: #f9fafb; */
    align-items: center;
    height: 100%; 
    width: 40%;
 }
  
  .text-section h1 {
    /* border: 1px solid rgb(33, 209, 151); */
    font-size: 3rem;
    color: #333;
    text-align: left;
    margin: 0;
   height: 30%; 
    
  }
  
  .image-section {

    width: 55%;
  }
  /* container 1 part 2 image */
  .full-height-image { 
    /* border: 1px solid rgb(179, 60, 60); */
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 3%;
  }

/* container 1  */
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color: #f9fafb; */
    border: 1px solid rgb(213, 208, 208);
    border-radius: 3%; 
    padding: 5%;
    gap: 4%;
    width: 100%;
    height: 60%;

    /* border: 1px solid rgb(200, 31, 31); */
   
  }

  .gridcontainer div:hover img {
    transform: scale(1.1); /* Zoom in image on hover */
    cursor: pointer;
  }
  .gridcontainer div {
    text-align: center;
    position: relative; /* Ensures the overlay covers the image */
    overflow: hidden; /* Hides the overlay initially */
    justify-content: center;
 
  }
  
  .newgrid{
    display: flex;
    padding-left:10px ;
    gap: 5%;
  }
  .hoverable-image {
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
  }
  
  .hoverable-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  }

  .added-items-images-setting{
    /* border: 1px solid rgb(183, 132, 104); */
    height: 9rem;
    width: 10rem;
    
  }

  .added-items-div{
    /* border: 1px solid rgb(183, 132, 104); */
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 7%;

       
 }
 
 .added-items-matter{
  /* border: 1px solid rgb(183, 132, 104); */
  /* background-color: white; */
  height: 5.5rem;
  font-size: small;
 }

 .container1-home-images{
  /* border: 1px solid black; */
  width: 100%;
  padding: 2%;
  padding-top: 3%;

 }
.container1-home-images-div{
  /* border: 1px solid black; */
  border-radius: 1%;
}
