<div class="register-container">
  <div class="register-form">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <!-- Username Input -->
      <div class="input-container">
        <i class="fas fa-user"></i>
        <input formControlName="username" type="text" placeholder="Username"  required>
      </div>
      <div *ngIf="username?.invalid && username?.touched" class="error">
        <span style="color: red;">Username is required</span>
      </div>

     <!-- Phone Input -->
     <div class="input-container">
      <i class="fas fa-phone"></i>
      <input formControlName="userPhone" type="text" placeholder="Phone Number" required>
    </div>
    <div *ngIf="userPhone?.invalid && userPhone?.touched" class="error">
      <span style="color: red;">Valid Phone Number is required</span>
    </div>
      

      <!-- Email Input -->
      <div class="input-container">
        <i class="fas fa-envelope"></i>
        <input formControlName="email" type="email" placeholder="Email or Phone Number" required>
      </div>
      <div *ngIf="email?.invalid && email?.touched" class="error">
        <span style="color: red;">Valid Email is required</span>
      </div>

      <!-- Password Input -->
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input formControlName="password" type="password" placeholder="Password"required>
      </div>
      <div *ngIf="password?.invalid && password?.touched" class="error">
        <span style="color: red;">{{ passwordCriteriaMessage }}</span>
      </div>

      <!-- Confirm Password Input -->
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm Password"  required>
      </div>
      <div *ngIf="registerForm.hasError('mismatch') && confirmPassword?.touched" class="error">
        <span style="color: red;">Passwords must match</span>
      </div>

      <!-- Terms Checkbox -->
      <div class="checkbox-container">
        <input formControlName="terms" type="checkbox" id="terms">
        <label for="terms">I agree to the terms and conditions</label>
      </div>
      <div *ngIf="terms?.invalid && terms?.touched" class="error">
        <span style="color: red;">You must accept the terms and conditions</span>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="register-btn" [disabled]="!registerForm.valid">Register</button>

      <!-- Social Login Buttons -->
      <p>Register with:</p>
      <div class="social-buttons">
        <button type="button" class="social-btn google"><i class="fab fa-google"></i></button>
        <button type="button" class="social-btn facebook"><i class="fab fa-facebook-f"></i></button>
      </div>

      <!-- Already have an account link -->
      <p>Already have an account? <a routerLink="/login">Log in</a></p>
      
    </form>
  </div>
</div>
