body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.register-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form {
  width: 50%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  max-width: 400px;
}

.register-form h2 {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container i {
  padding: 10px;
  background: #f0f0f0;
  border-radius: 4px 0 0 4px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.toggle-password {
  padding: 10px;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.checkbox-container input {
  margin-right: 10px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.social-btn {
  width: 45px;
  height: 45px;
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.google { color: #db4437; }
.facebook { color: #3b5998; }

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 1px;
}
